---
layout: splash
permalink: /cv/
title: "Oliver Culley de Lange - CV"
author_profile: false

excerpt: "Read lots of **buzzwords** in an attempt to figure out if I will do good work for you..."
header:
    overlay_image: /assets/images/header5.jpg
    cta_label: "Print me"
    cta_url: "javascript:window.print()"
    caption: "Mobile: [**07718 188 996**](tel:07718188996), E-mail: [**hireme@oliverdelange.co.uk**](mailto:hireme@oliverdelange.co.uk), Website: [**oliverdelange.co.uk**](https://oliverdelange.co.uk)"

intro:
    - excerpt: 'I write `code` and stuff'

skillset:
    - image_path: /assets/images/bio.jpg
      alt: "Me wearing a hat"
      title: "Skillset"
      excerpt: 'I do **backend applications**, mainly written in **Java 8 and Spring** (Since March 2014). I also do **Android apps** (Since March 2016), so I guess I am a mobile full stack developer. I sometimes put my **technical business analyst** hat on, and write technical stories in **Jira**. I also sometimes put my **QA** hat on, and test other developers stories. I have exclusively worked in **Agile** dev teams. I try to get involved at a higher **architectural level** and understand system integrations, mainly because I like to know what is going on.


    I **learn** quick && **adapt** well && **work** hard && **solve** problems.'

things:
    - excerpt: '
<h3>Things I use everyday</h3>
Java, IntelliJ, Android Studio, Spock & Groovy, Wiremock, Gradle, Jira, GitHub, Git, Sonar,
Jenkins, AWS (Lambda, API Gateway, DynamoDB, S3, Cloudformation, Cloudwatch), Spring Boot,
Embedded Tomcat, Logstash/ElasticSearch/Kibana, Graphite/Graphana, Postman, Slack, Skype, OSX,
Bash/Shell, Google, Stackoverflow, Spotify

<h3>Things I use less frequently</h3>
Gatling & Scala, Swagger/Springfox, JUnit, Cucumber, Selenium, HTML, CSS, JavaScript & JQuery,
XCode, Swift, Windows, Ubuntu '

---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="skillset" type="left" %}

{% include feature_row id="things" type="center" %}


<h3>Qualifications</h3>
<ul>
    <li>Java SE 7 Programmer I - Oracle Certified Associate - 2015</li>
    <li>ITIL V3 Foundation – 2013</li>
    <li>Cisco Certified Network Associate (CCNA) - 2012</li>
</ul>

<h4>A Level Qualifications - 2012</h4>
<ul>
    <li>Performing Arts (A)</li>
    <li>OCR ICT Level 3 (Distinction)</li>
</ul>
<h4>AS-Level Qualifications - 2011</h4>
<ul>
    <li>Critical Thinking (A)</li>
    <li>English Combined (B)</li>
</ul>
<h4>GCSE Qualifications - 2010</h4>
<ul>
    <li>A* x 3, A x 8, B x 1, C x 1</li>
</ul>

<h3>Career History</h3>
<h4>Telefonica O2 Ltd : Sept 2012 – Present</h4>
<h5>July 2014 - Present: Software Engineer</h5>
<p>
    Current Project - I am working on the backend services and
    middleware for a new mobile app that supports O2's car insurance offering - <a
        href="http://www.o2.co.uk/drive">O2 Drive</a>.
    I am creating RESTful APIs, dealing with encryption, authentication and
    authorisation, and integrating with multiple third parties.
    I am also working on the <a href="http://www.o2.co.uk/apps/drive">O2 Drive Android App</a>.
</p>
<p>
    <a href="https://www.o2.co.uk/shop">O2 Online Shop</a> - I added functionality
    to view existing tariff usage alongside upgrade options and recommendations, to give customers a
    better upgrade experience. I wrote both Java and JavaScript (Angular) for this
    application.
</p>
<p>
    New E-commerce Checkout Application - the aim was to improve customer
    drop out rates through better user experience and design. We more than halved the
    number of steps a customer has to go through to make a purchase. We dramatically improved the
    look and feel of the journey through the application. We also improved the architecture of the
    application, reducing complexity and improving readability and subsequently increasing
    maintainability. The outcome being acquisition conversion rates rising 31%, and upgrade net
    sales value rising 52%. I started off as an apprentice QA, then moved to a java developer role
    through pairing and self teaching.
</p>

<p>I started in this role as an apprentice in March 2014, this led to a full time job.</p>

<h5>Sept 2012 - July 2014: Apprentice</h5>
<p>I started working for Telefonica (O2 UK) after I left college in 2012. I joined the Advanced
    Apprenticeship scheme which offered work experience and learning on the job. The apprenticeship
    consisted of four 6 month placements spanning two years. </p>

<ul>
    <li>Operations Reporting Team - Automated report development using Microsoft
        Excel, Access and VBA. SAP Business Objects to extract raw data.
    </li>
    <li>IP Security Design Team - I implemented Public Key Infrastructure (PKI) for
        the rollout of O2s 4G network. It was based around OpenSSL and Red Hat Linux. Network
        security management and troubleshooting Checkpoint firewalls. Linux server installation,
        hardening and management through GUI, CLI and scripting.
    </li>
    <li>Trusted Networks Team - Built a proof of concept web-based tool to display
        cell sites geographically (using Google Maps API) with sets of data layered on top such as
        voice/data hotspots. I also plotted postcodes of customer network issues to check for any
        correlation. Built with PHP, JSON & MySql.
    </li>
</ul>

<h3>Interests</h3>
<p>I enjoy working on my personal website and other personal projects, developing
    my programming, web development and design
    skills.</p>
<p>I’m a keen rock climber, mainly indoors, and when the weather is good we venture
    out.</p>
<p>I love mountain biking, although I don't go as often as I would like. I'm more
    of a commuter cyclist.</p>
<p>I also enjoy creating electronic music on my computer, writing
    songs, and recording drums, guitar, bass and vocals.</p>
